<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="utf-8")
		title Главная
		include inc/head.jade
		include inc/css.jade
	body.main.loading
		include inc/header.jade
		main#content
			.content
		include inc/footer.jade
		include inc/scripts.jade